/* Copyright (c) 2017, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

&soc {
	i2c@f9927000 {
		x6db0@08 {
			compatible = "st,lsm6db0";
			reg = <0x08>;

			interrupt-parent = <&msm_gpio>;
			interrupts = <64 0x2004>;
			st,reset-gpio = <&msm_gpio 74 0x00>;
			st,wakeup-gpio = <&msm_gpio 42 0x00>;
			vdd-supply = <&pm8994_lvs2>;
			vmag-supply = <&pm8994_l18>;
			i2c-supply = <&pm8994_lvs2>;
		};

	};
};